.exercise img{
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.description{
    max-width: 1300px;
    padding: 2rem;
    margin: auto;
    color: #f9c34e;
}

.description h3 {
    padding-top: 1rem;
    font-style: normal;
}
.description h4{
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    text-transform: none;
}