.viewarea {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.map-responsive {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 0.5rem;
}