@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    transition: 0.2s linear;
    text-transform:  capitalize;
    font-family: "Poppins", sans-serif;
  }

body {
    background: #29292E;
}

nav {
    background: #121214;
    padding: 0rem 0rem;
    display: grid;
    grid-template-columns: auto 1fr auto;
  }
  
  a {
    text-decoration: none;
  }
  
  .logo {
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }
  
  div.logo a {
    font-weight: bold;
    color: #dba021;
    border-right: 1px solid #DDD;
    padding-right: 1rem;
  }
  
  .menu {
    padding: 1rem 1rem;
  }
  
  .menu-item {
    padding: 1rem 1rem;
    color: #dba021;
  }
  
  .menu-item:hover {
    background: #dba021;
    color: #121214;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    transition: background 0.2s color 0.2s;
  }
  
  .menu-item span {
    padding-left: 0.125rem;
  }
  .btn{
  margin-top: 2rem;
  width: 150px;
  padding: 12px;
  color:#fff;
  background: #dba021;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  
  }
  .btn:hover{
      background:#baa6cf;
      transition: 0.4s;
  }
  .header{
      position: fixed;
      top: 10;
      bottom: 10;
      left: 10;
      right: 10;
      z-index: 1000;
      padding: 1.5rem 8%;
      display: flex;
      align-items: center;
      color:#fff;
      justify-content: space-between;
  
  }
  .header .logo{
      font-size: 12px;
      font-weight: bolder;
      color:#fff;
      padding-right: 10px;
      margin-right: 20rem;
  
  
  }
  .header .logo i{
      color:#fff;
      padding: 0.5rem;
  }

  .header .btn{
      background: transparent;
      color: #dba021;
      border: 1px solid #dba021;
      font-size: 12px;
      padding: 8px;
  
  }
  
  .max-width{
      max-width: 1300px;
      padding: 0 80px;
      margin: auto;
  }
  section{
      padding: 50px  0 50px 0;
  }
  .home{
      display:flex;
  }
  .home .max-width{
      width: 100%;
      display: flex;
  }
  .home .home-content{
      width: 50%;
      padding: 2rem;
  }
  .home h3{
      color:#fff;
      margin-top: 6rem;
      font-size: 5rem;
      font-family: 'Philosopher', sans-serif;
  }
  .home p{
      color: rgb(194, 191, 191);
      margin-top: 1rem;
      font-size: 12px;
  }
  .home .home-image{
      width: 50%;
  }
  .home .home-content img{
      width: 100%;
      height: 100%;
  }

.navicon-text {
    padding-left: 1rem; 
}