{% extends 'usuarios/basee.html' %}
{% block conteudo %}

<form action="{% url 'login' %}" method="post">
  {% csrf_token %}

  <h1>LogIn</h1>

  <span class="form-input">
    <input placeholder="EMAIL" name="email" class="form-control-sm" type="email">
  </span>
  
  <span class="form-input">
    <input placeholder="SENHA" name="senha" class="form-control-sm" type="password">
  </span>
  
  <input type="submit" value="Enviar" class="form-control-sm submit-button"> 
</form>

<form action="{% url 'cadastro' %}" method="get">
  {% csrf_token %}
  <div style="text-align: center" class="container">
    <br />
    <br />
    <button type="submit" class="submit-button">Cadastre-se!</button>
  </div>
</form>
{% endblock %}
