{% extends 'usuarios/base.html' %} {% block conteudo %}
{% csrf_token %}

<h1>Exercícios para a panturrilha</h1>

  <center>
    <table>
      <tr>
        <td>
          <a class="exercicio" href="{% url 'panturrilha_gemeos_elevacao' %}">
          <img
            src="http://www.ferrosports.com.br/img_external/pernas/image11.gif"
            class="container."
            alt="Rosca Direta"
            height="50%" width="50%"
          />
          <h2>Gêmeos Elevação</h2>
        </a>
        </td>
        <td>
          <a class="exercicio" href="{% url 'panturrilha_gemeos_sentado' %}">
          <img
            src="http://www.ferrosports.com.br/img_external/pernas/image7.gif"
            class="container."
            alt="Imagem 2"
            height="50%" width="50%"
          />
          <h2>Gêmeos Sentado</h2>
        </a>
        </td>
      </tr>
      <tr>
        <td>
          <a class="exercicio" href="{% url 'panturrilha_gemeos_maquina_em_pe' %}">
          <img
            src="http://www.ferrosports.com.br/img_external/pernas/image6.gif"
            class="container."
            alt="Imagem 3"
            height="50%" width="50%"
          />
          <h2>Gêmeos Máquina em Pé</h2>
        </a>
        </td>
        <td>
          <a class="exercicio" href="{% url 'panturrilha_flexora_vertical' %}">
          <img
            src="http://www.ferrosports.com.br/img_external/pernas/image25.gif"
            class="container."
            alt="Imagem 4"
            height="50%" width="50%"
          />
          <h2>Flexora Vertical</h2>
        </a>
        </td>
      </tr>
    </table>
  </center>




{% endblock %}