{% extends 'usuarios/base.html' %} 
{% block conteudo %}

<div class="exercise">
    <h1>Cross Unilateral</h1>
        <img
        src="http://www.ferrosports.com.br/img_external/triceps/image20.gif"
        class="container."
        alt="Cross Unilateral"
        height="50%" width="50%"
    />
</div>

<div class="description">
    <h3>
        Movimento:
    <h3>
    <h4>
        Comece em pé com os pés afastados na largura dos ombros e segurando um halter ou kettlebell em uma das mãos; 
    </h4>
    <h4>
        Mantenha o halter ou kettlebell na lateral do corpo, com o braço estendido;
    </h4>
    <h4>
        Leve o halter ou kettlebell em direção ao lado oposto do corpo, fazendo um movimento de cruzamento;
    </h4>
    <h4>
        Contraia os músculos do abdômen e quadríceps enquanto faz o movimento;
    </h4>

    <h3>
        Músculos trabalhados:
    <h3>
    <h4>
        Tríceps
    </h4>
</div>

<div class="rating">

    <input class="rating__input" type="radio" name="rating" id="star1" value="1">
    <label class="rating__label" for="star1"></label>

    <input class="rating__input" type="radio" name="rating" id="star2" value="2">
    <label class="rating__label" for="star2"></label>

    <input class="rating__input" type="radio" name="rating" id="star3" value="3">
    <label class="rating__label" for="star3"></label>

    <input class="rating__input" type="radio" name="rating" id="star4" value="4">
    <label class="rating__label" for="star4"></label>

    <input class="rating__input" type="radio" name="rating" id="star5" value="5">
    <label class="rating__label" for="star5"></label>
  </div>

  <p>{{ media_avaliacoes.estrelas__avg }}</p>
  {% for avaliacao in avaliacoes %}
      <p>{{ avaliacao.estrelas }}</p>
  {% endfor %}

  <div class="description" >
    <h3>
        Deixe um comentário:
    <h3>
</div> 

<form method="POST">
    {% csrf_token %}

        <span class="form-input">
            <input placeholder="Nome de usuário" type="text" name="autor">
        </span>
        <span class="form-input">
            <textarea placeholder="Comentário" name="texto"></textarea>
        </span>
        <input type='submit' class="form-control-sm submit-button" value="Comentar"></input>
    </div>
</form>

<div class="description" >
    <h3>
        Comentários:
    <h3>


<ul>

{% for comentario in comentarios %}

    <li>
        <p>{{ comentario.autor }} em {{ comentario.data }}</p>
        <p>{{ comentario.texto }}</p>
    </li>

{% empty %}

    <h4>Nenhum comentário ainda.</h4>
{% endfor %}
</ul>

{% endblock %}