<<<<<<< HEAD
.center img{
    padding-top: 1rem;
}

.choice {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 4px;
}

.choice .btn{
    color: black;
    background: #dba021;
=======
.center img{
    padding-top: 1rem;
}

.choice {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 4px;
}

.choice .btn{
    color: black;
    background: #dba021;
>>>>>>> e2ae30caca440ba39f9ae5577f2d1ca60e07b384
}