<<<<<<< HEAD
.RT{
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-self: center;
    margin-bottom: 20px;
    height: 100vh;
=======
.RT{
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-self: center;
    margin-bottom: 20px;
    height: 100vh;
>>>>>>> e2ae30caca440ba39f9ae5577f2d1ca60e07b384
}