{% extends 'usuarios/basee.html' %} {% block conteudo %}
{% csrf_token %}

<h1>Exercícios para os tríceps</h1>

  <center>
    <table>
      <tr>
        <td>
          <a class="exercicio" href="{% url 'triceps_cross_corda' %}">
          <img
            src="http://www.ferrosports.com.br/img_external/triceps/image8.gif"
            class="container."
            alt="Triceps Cross Corda"
            height="50%" width="50%"
          />
          <h2>Tríceps Cross Corda</h2>
        </a>
        </td>
        <td>
          <a class="exercicio" href="{% url 'triceps_frances' %}">
          <img
            src="http://www.ferrosports.com.br/img_external/triceps/image2.gif"
            class="container."
            alt="Frances"
            height="50%" width="50%"
          />
          <h2>Francês</h2>
        </a>
        </td>
      </tr>
      <tr>
        <td>
          <a class="exercicio" href="{% url 'triceps_banco' %}">
          <img
            src="http://www.ferrosports.com.br/img_external/triceps/image16.gif"
            class="container."
            alt="banco"
            height="50%" width="50%"
          />
          <h2>Tríceps Banco</h2>
        </a>
        </td>
        <td>
          <a class="exercicio" href="{% url 'triceps_cross_unilateral' %}">
          <img
            src="http://www.ferrosports.com.br/img_external/triceps/image20.gif"
            class="container."
            alt="Cross Unilateral"
            height="50%" width="50%"
          />
          <h2>Cross Unilateral</h2>
        </a>
        </td>
      </tr>
    </table>
  </center>
{% endblock %}