{% extends 'usuarios/base.html' %}

{% block conteudo %}
<form action="{% url 'home' %}" method="post">
    {% csrf_token %}
    <h1>LogIn</h1>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Login</button>
    </form>

    <form action="{% url 'cadastro' %}" method="get">
      {% csrf_token %}
      <div style="text-align: center"class="container">
        <br />
        <br />
        <button type='submit' class="submit-button">Cadastre-se!</button>
      </div>
    </form>
{% endblock %}
Certifique-se de que o código está correto em todos os arquivos que estendem base.html.






