{% extends 'usuarios/base.html' %} 
{% block conteudo %}
  {% csrf_token %}
  
  <h1>
    
  </h1>

  <center>
    <img
      src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.mundoboaforma.com.br%2Frosca-no-banco-scott-com-halteres-como-fazer-e-erros-comuns%2F&psig=AOvVaw1IJuUJ1l5hZ_oDM4NLq1qS&ust=1681679134138000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCJiKrIzlrP4CFQAAAAAdAAAAABAR"
      class="container."
      alt="Rosca Punho"
      height="12%" width="12%"
    />
  </center>
  
{% endblock %}