{% extends 'usuarios/base.html' %} {% block conteudo %}
{% csrf_token %}
<head>
    <title>biceps</title>
</head>

<img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fbr.pinterest.com%2Fpin%2F609041549595918893%2F&psig=AOvVaw1IJuUJ1l5hZ_oDM4NLq1qS&ust=1681679134138000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCJiKrIzlrP4CFQAAAAAdAAAAABAE.jpg" alt="Rosca Invertida">
<img src="caminho/para/imagem2.jpg" alt="Rosca Barra">
<img src="caminho/para/imagem3.jpg" alt="Descrição da imagem 3">
{% endblock %}