{% extends 'usuarios/base.html' %} {% block conteudo %}
{% csrf_token %}

<div style="padding-top: 50px;">
    <img src="imagem.jpg" />
</div>

  <center>
    <table>
      <tr>
        <td>
            <a class="exercicio" href="{% url 'rosca_com_barra' %}">
            <img
            src="http://www.ferrosports.com.br/img_external/biceps/image11.gif"
            class="container."
            alt="Rosca Direta"
            height="50%" width="50%"
            />
            <h2>Rosca c/barra</h2>
            </a>
        </td>
        <td>
          <img
            src="http://www.ferrosports.com.br/img_external/biceps/image10.gif"
            class="container."
            alt="Imagem 2"
            height="50%" width="50%"
          />
          <h2>Rosca Martelo</h2>
        </td>
      </tr>
      <tr>
        <td>
          <img
            src="http://www.ferrosports.com.br/img_external/biceps/image6.gif"
            class="container."
            alt="Imagem 3"
            height="50%" width="50%"
          />
          <h2>Rosca Unilateral</h2>
        </td>
        <td>
          <img
            src="http://www.ferrosports.com.br/img_external/biceps/image5.gif"
            class="container."
            alt="Imagem 4"
            height="50%" width="50%"
          />
          <h2>Rosca apoiada</h2>
        </td>
      </tr>
    </table>
  </center>

{% endblock %}