{% extends 'usuarios/base.html' %} 
{% block conteudo %}

<div class="exercise">
    <h1>Rosca Unilateral</h1>
        <img
        src="http://www.ferrosports.com.br/img_external/biceps/image6.gif"
        class="container."
        alt="Rosca Unilateral"
        height="50%" width="50%"
    />
</div>

<div class="description">
    <h3>
        Movimento:
    <h3>
    <h4>
        Execute o exercício levantando lentamente o halter e flexionando o bíceps na parte superior do movimento; 
    </h4>
    <h4>
        Baixe lentamente o halter até o braço estar completamente esticado;
    </h4>
    <h4>
        Repita o processo pelo número de repetições desejados, e depois repita o mesmo para o braço direito;
    </h4>
    <h4>
        Retorne os Halters lentamente à sua posição inicial e repita.
    </h4>
    <h3>
        Músculos trabalhados:
    <h3>
    <h4>
        Bíceps
    </h4>
</div>

{% endblock %}