{% extends 'usuarios/base.html' %} 
{% block conteudo %}

<div class="exercise">
    <h1>Rosca Martelo</h1>
        <img
        src="http://www.ferrosports.com.br/img_external/biceps/image10.gif"
        class="container."
        alt="Rosca Martelo"
        height="50%" width="50%"
    />
</div>

<div class="description">
    <h3>
        Movimento:
    <h3>
    <h4>
        Segure os Halters com o corpo reto e os pés alinhados com os quadris, e uma flexão leve dos joelhos; 
    </h4>
    <h4>
        Mantenha o peito aberto e o abdômen estabilizado, deixando os ombros levemente para trás;
    </h4>
    <h4>
        Segure os Halters com uma pegada com as palmas das mãos voltadas para cima e os braços colados ao lado do corpo;
    </h4>
    <h4>
        Dobre o cotovelo para levar os Halters até o peito, flexionando o bíceps o máximo que puder, certificando-se de manter os cotovelos na linha dos ombros;
    </h4>
    <h4>
        Retorne os Halters lentamente à sua posição inicial e repita.
    </h4>

    <h3>
        Músculos trabalhados:
    <h3>
    <h4>
        Bíceps
    </h4>
</div>

<div class="rating">

    <input class="rating__input" type="radio" name="rating" id="star1" value="1">
    <label class="rating__label" for="star1"></label>

    <input class="rating__input" type="radio" name="rating" id="star2" value="2">
    <label class="rating__label" for="star2"></label>

    <input class="rating__input" type="radio" name="rating" id="star3" value="3">
    <label class="rating__label" for="star3"></label>

    <input class="rating__input" type="radio" name="rating" id="star4" value="4">
    <label class="rating__label" for="star4"></label>

    <input class="rating__input" type="radio" name="rating" id="star5" value="5">
    <label class="rating__label" for="star5"></label>
  </div>

  <p>{{ media_avaliacoes.estrelas__avg }}</p>
  {% for avaliacao in avaliacoes %}
      <p>{{ avaliacao.estrelas }}</p>
  {% endfor %}

  <div class="description" >
    <h3>
        Deixe um comentário:
    <h3>
</div> 

<form method="POST">
    {% csrf_token %}
    <div class="submissions">
        <span class="form-input">
            <input placeholder="Nome de usuário" type="text" name="autor">
        </span>
        <span class="form-input">
            <textarea placeholder="Comentário" name="texto"></textarea>
        </span>
        <input type='submit' class="form-control-sm submit-button" value="Comentar"></input>
    </div>
</form>

<div class="description" >
    <h3>
        Comentários:
    <h3>


<ul>

{% for comentario in comentarios %}

    <li>
        <p>{{ comentario.autor }} em {{ comentario.data }}</p>
        <p>{{ comentario.texto }}</p>
    </li>

{% empty %}

    <h4>Nenhum comentário ainda.</h4>
{% endfor %}
</ul>
</div>

{% endblock %}