{% extends 'usuarios/base.html' %} {% block conteudo %}
{% csrf_token %}
<!DOCTYPE html>
<html>
<head>
	<title>Exemplo de Imagens com Legenda</title>
</head>
<body>
	<h1>biceps</h1>
	<div>
		<img src="http://www.ferrosports.com.br/img_external/biceps/image10.gif" alt="Imagem 1">
		<p>Rosca com Martelo</p>
	</div>
	<div>
		<img src="http://www.ferrosports.com.br/img_external/biceps/image11.gif" alt="Imagem 2">
		<p>Rosca Direta</p>
	</div>
	<div>
		<img src="http://www.ferrosports.com.br/img_external/biceps/image8.gif" alt="Imagem 3">
		<p>Rosca Direta (Cross)</p>
	</div>
	<div>
		<img src="http://www.ferrosports.com.br/img_external/biceps/image6.gif" alt="Imagem 4">
		<p>Rosca Dumbell</p>
	</div>
</body>
</html>
 
{% endblock %}