{% extends 'usuarios/base.html' %}
{% block conteudo %}
<form action="{% url 'login' %}" method ="post">
    {% csrf_token %}
  <h1>Cadastro</h1>
    <div class="submissions">
      <span class="form-input">
        <input placeholder="Nome" name="nome" class="form-control-sm" type="text">
      </span>
      <span class="form-input">  
        <input placeholder="E-mail" name="email" class="form-control-sm" type="text">
      </span>
      <span class="form-input">  
        <input placeholder="Senha" name="password" class="form-control-sm" type="text">
      </span>  
        <input type='submit' class="btn btn-primary mt-4 submit-button" value="Cadastrar"></input>
    </div> 
</form>
{% endblock %}