{% extends 'usuarios/base.html' %}
{% block conteudo %}

<form action="{% url 'login' %}" method="get">
  {% csrf_token %}

  <h1>Cadastro</h1>

  {% comment %} <div class="submissions"> {% endcomment %}

    <span class="form-input">
      <input placeholder="NOME" name="name" class="form-control-sm" type="text">
    </span>

    <span class="form-input">
      <input placeholder="EMAIL" name="email" class="form-control-sm" type="email">
    </span>

    <span class="form-input">
      <input placeholder="SENHA" name="password" class="form-control-sm" type="password">
    </span>

    <input type="submit" value="ENVIAR" class="form-control-sm submit-button"> 

  {% comment %} </div> {% endcomment %}
</form>

{% endblock %}