{% extends 'usuarios/base.html' %} 
{% block conteudo %}

<div class="exercise">
    <h1>Low Row</h1>
        <img
        src="http://www.ferrosports.com.br/img_external/costas/image4.gif"
        class="container."
        alt="Low Row"
        height="50%" width="50%"
    />
</div>

<div class="description">
    <h3>
        Movimento:
    </h3>
    <h4>
        Para realizar o exercício, é necessário sentar em um banco de remada baixa, segurando uma barra com as mãos posicionadas um pouco mais próximas do que a largura dos ombros.; 
    </h4>
    <h4>
        O praticante deve inclinar-se para a frente, mantendo a coluna reta e estendendo os braços em direção ao chão.;
    </h4>
    <h4>
        Em seguida, ele deve puxar a barra em direção ao corpo, mantendo os cotovelos próximos ao tronco e contraindo os músculos das costas. ;
    </h4>
    <h4>
        O movimento deve ser controlado e lento, evitando balançar o corpo ou usar a força dos braços para realizar a movimentação.;
    </h4>

    <h3>
        Músculos trabalhados:
    </h3>
    <h4>
        Costa
    </h4>
</div>

{% endblock %}