{% extends 'usuarios/base.html' %} 
{% block conteudo %}

<div class="exercise">
    <h1>Pull Down Supinado</h1>
        <img
        src="http://www.ferrosports.com.br/img_external/costas/image8.gif"
        class="container."
        alt="Pull Down Supinado"
        height="50%" width="50%"
    />
</div>

<div class="description">
    <h3>
        Movimento:
    </h3>
    <h4>
        Para realizar o exercício, é necessário sentar em um banco com uma máquina de cabo acima da cabeça; 
    </h4>
    <h4>
        Em seguida, o praticante deve segurar a barra de cabo com as mãos posicionadas mais próximas do que a largura dos ombros e os dedos voltados para baixo, com as palmas das mãos voltadas para cima;
    </h4>
    <h4>
        Com a barra acima da cabeça, o praticante deve puxá-la em direção ao peito, mantendo os cotovelos apontados para baixo e os ombros para trás, para contrair os músculos das costas;
    </h4>

    <h3>
        Músculos trabalhados:
    </h3>
    <h4>
        Costa
    </h4>
</div>

{% endblock %}