{% extends 'usuarios/base.html' %} 
{% block conteudo %}

<div class="exercise">
    <h1>Remada Curva</h1>
        <img
        src="http://www.ferrosports.com.br/img_external/costas/image17.gif"
        class="container."
        alt="Remada Curva"
        height="50%" width="50%"
    />
</div>

<div class="description">
    <h3>
        Movimento:
    </h3>
    <h4>
        Para realizar o exercício, o praticante deve ficar de pé com os pés afastados na largura dos ombros, segurando uma barra com as mãos posicionadas um pouco mais afastadas do que a largura dos ombros, com as palmas voltadas para baixo; 
    </h4>
    <h4>
        O praticante deve inclinar-se para a frente, mantendo a coluna reta e estendendo os braços em direção ao chão;
    </h4>
    <h4>
        Com as costas retas, o praticante deve dobrar os joelhos ligeiramente e inclinar o tronco para a frente, mantendo a barra próxima às pernas;
    </h4>
    <h4>
        Em seguida, o praticante deve puxar a barra em direção ao abdômen, mantendo os cotovelos próximos ao corpo e apontados para trás, para contrair os músculos das costas;
    </h4>
    <h4>
        O movimento deve ser controlado e lento, para que o músculo trabalhe o tempo todo e seja evitada a compensação com outros músculos;
    </h4>

    <h3>
        Músculos trabalhados:
    </h3>
    <h4>
        Costa
    </h4>
</div>

{% endblock %}