{% extends 'usuarios/base.html' %} {% block conteudo %}
{% csrf_token %}
<div style="padding-top: 50px;">
    <img src="imagem.jpg" />
</div>

  <center>
    <table>
      <tr>
        <td>
          <img
            src="http://www.ferrosports.com.br/img_external/costas/image10.gif"
            class="container."
            alt="Rosca Punho"
            height="50%" width="50%"
          />
          <h2>Pull Down Aberto</h2>
        </td>
        <td>
          <img
            src="http://www.ferrosports.com.br/img_external/costas/image8.gif"
            class="container."
            alt="Imagem 2"
            height="50%" width="50%"
          />
          <h2>Pull Down Supinado</h2>
        </td>
      </tr>
      <tr>
        <td>
          <img
            src="http://www.ferrosports.com.br/img_external/costas/image4.gif"
            class="container."
            alt="Imagem 3"
            height="50%" width="50%"
          />
          <h2>Low Row</h2>
        </td>
        <td>
          <img
            src="http://www.ferrosports.com.br/img_external/costas/image17.gif"
            class="container."
            alt="Imagem 4"
            height="50%" width="50%"
          />
          <h2>Remada Curvada</h2>
        </td>
      </tr>
    </table>
  </center>
{% endblock %}