{% extends 'usuarios/base.html' %} 
{% block conteudo %}

<div class="exercise">
    <h1>Gluteos Caneleira</h1>
        <img
        src="http://www.ferrosports.com.br/img_external/gluteo/image12.gif"
        class="container."
        alt="Gluteos Caneleira"
        height="50%" width="50%"
    />
</div>

<div class="description">
    <h3>
        Movimento:
    <h3>
    <h4>
        O exercício de glúteos com caneleira é um exercício de resistência para os músculos do glúteo, que ajuda a tonificar e fortalecer os músculos das nádegas.
    </h4>
    <h4>
        Para realizar o exercício, você precisará de uma caneleira com peso que possa ser ajustada ao seu nível de condicionamento físico.
    </h4>
    <h4>
        Para começar, coloque a caneleira em torno do tornozelo e deite-se de bruços no chão. Mantenha as pernas estendidas e levante a perna com a caneleira do chão, mantendo o joelho estendido.
    </h4>
    <h4>
        Eleve a perna o mais alto que puder, contraindo os músculos do glúteo no topo do movimento e segure por um segundo antes de abaixar a perna de volta ao chão. 
    </h4>

    <h3>
        Músculos trabalhados:
    <h3>
    <h4>
        Gluteos
    </h4>
</div>

<div class="rating">

    <input class="rating__input" type="radio" name="rating" id="star1" value="1">
    <label class="rating__label" for="star1"></label>

    <input class="rating__input" type="radio" name="rating" id="star2" value="2">
    <label class="rating__label" for="star2"></label>

    <input class="rating__input" type="radio" name="rating" id="star3" value="3">
    <label class="rating__label" for="star3"></label>

    <input class="rating__input" type="radio" name="rating" id="star4" value="4">
    <label class="rating__label" for="star4"></label>

    <input class="rating__input" type="radio" name="rating" id="star5" value="5">
    <label class="rating__label" for="star5"></label>
  </div>

  <p>{{ media_avaliacoes.estrelas__avg }}</p>
  {% for avaliacao in avaliacoes %}
      <p>{{ avaliacao.estrelas }}</p>
  {% endfor %}

  <div class="description" >
    <h3>
        Deixe um comentário:
    <h3>
</div> 

<form method="POST">
    {% csrf_token %}
        <span class="form-input">
            <input placeholder="Nome de usuário" type="text" name="autor">
        </span>
        <span class="form-input">
            <textarea placeholder="Comentário" name="texto"></textarea>
        </span>
        <input type='submit' class="form-control-sm submit-button" value="Comentar"></input>
    </div>
</form>

<div class="description" >
    <h3>
        Comentários:
    <h3>


<ul>

{% for comentario in comentarios %}

    <li>
        <p>{{ comentario.autor }} em {{ comentario.data }}</p>
        <p>{{ comentario.texto }}</p>
    </li>

{% empty %}

    <h4>Nenhum comentário ainda.</h4>
{% endfor %}
</ul>

{% endblock %}