{% extends 'usuarios/base.html' %} {% block conteudo %}
{% csrf_token %}
<div style="padding-top: 50px;">
    <img src="imagem.jpg" />
</div>

  <center>
    <table>
      <tr>
        <td>
          <img
            src="http://www.ferrosports.com.br/img_external/gluteo/image14.gif"
            class="container."
            alt="Rosca Punho"
            height="50%" width="50%"
          />
          <h2>Crew</h2>
        </td>
        <td>
          <img
            src="http://www.ferrosports.com.br/img_external/gluteo/image12.gif"
            class="container."
            alt="Imagem 2"
            height="50%" width="50%"
          />
          <h2>Gluteo Caneleira</h2>
        </td>
      </tr>
      <tr>
        <td>
          <img
            src="http://www.ferrosports.com.br/img_external/gluteo/image13.gif"
            class="container."
            alt="Imagem 3"
            height="50%" width="50%"
          />
          <h2>Gluteo Caneleira Extensão</h2>
        </td>
        <td>
          <img
            src="http://www.ferrosports.com.br/img_external/gluteo/image1.gif"
            class="container."
            alt="Imagem 4"
            height="50%" width="50%"
          />
          <h2>Gluteo Maquina</h2>
        </td>
      </tr>
    </table>
  </center>
{% endblock %}