{% extends 'usuarios/base.html' %}
{% block conteudo %}

    <section class="home">
        <div class="max-width">
            <div class="home-content">
                <h3>no pain no gain <br> saúde fitness</h3>
                <p>Olá, somos a FullBodyAction e vamos auxiliar seu processo de mudança corporal!</p>
                </br>
                </br>
                <button class="submit-button">Começe Já</button>
            </div>
            <div class="home-image">
                <img src="https://i.pinimg.com/originals/73/19/43/73194383bf5914366531d43aa98964fa.png" alt="">
            </div>
        </div>
    </section>

{% endblock %} 