{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FullBodyAction </title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <!-- Link do icone -->
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css%22/%3E
</head>
<body>
    <header class="header">
        <a href="#" class="logo">
            <i class="fas fa-dumbbell"></i>FullBodyAction
        </a>
        <nav class="navbar">
            <a href="#">Home</a>
            <a href="#">Treino</a>
            <a href="#">Água</a>
            <a href="#">Medidas</a>
            <a href="#">Contato</a>
            <a href="#">|</a>
            <a href="#">Login</a>
            <a href="#" class="btn">Cadastro</a>
        </nav>
    </header>

    <section class="home">
        <div class="max-width">
            <div class="home-content">
                <h3>no pain no gain <br> saúde fitness</h3>
                <p>Olá, somos a FullBodyAction e vamos auxiliar seu processo de mudança corporal!</p>
                <button class="btn">Começe Já</button>
            </div>
            <div class="home-image">
                <img src="https://i.pinimg.com/750x/09/35/de/0935de574cec931ec78e15ca56f0b87a.jpg" alt="">
            </div>
        </div>
    </section>
</body>
</html>
