{% extends 'usuarios/base.html' %} 
{% block conteudo %}

<form action="{% url 'medidas' %}" method ="post">
    {% csrf_token %}

<h1>Cadastro de medidas</h1>


  <span class="form-input">
      <input placeholder="Peito" name="peito" class="form-control-sm" type="text">
  </span>

  <span class="form-input">
      <input placeholder="Costas" name="costas" class="form-control-sm" type="text">
  </span>

  <span class="form-input">
      <input placeholder="Ombros" name="ombro" class="form-control-sm" type="text">
  </span>

  <span class="form-input">
      <input placeholder="Pescoço" name="pescoco" class="form-control-sm" type="text">
  </span>    
    
  <span class="form-input">
      <input placeholder="Braço" name="braco" class="form-control-sm" type="text">
  </span>  

  <span class="form-input">
      <input placeholder="Antebraço" name="antebraco" class="form-control-sm" type="text">
  </span>  

  <span class="form-input">
      <input placeholder="Quadril" name="quadril" class="form-control-sm" type="text">
  </span>

  <span class="form-input">
      <input placeholder="Cintura" name="cintura" class="form-control-sm" type="text">
  </span>    
    
  <span class="form-input">
      <input placeholder="Coxa" name="coxa" class="form-control-sm" type="text">
  </span>  

  <span class="form-input">
      <input placeholder="Panturrilha" name="panturrilha" class="form-control-sm" type="text">
  </span>  


  <input type='submit' class="form-control-sm submit-button"></input> 

</form>
{% endblock %}
