{% extends 'usuarios/base.html' %} 
{% block conteudo %}
{% csrf_token %}
<form action="{% url 'home' %}" method ="post">

<h1>Cadastro de medidas</h1>

<div class="submissions">
  <span class="form-input">
      <input placeholder="Peito" peito="Peito" class="form-control-sm" type="text">
  </span>

  <span class="form-input">
      <input placeholder="Costas" costas="Costas" class="form-control-sm" type="text">
  </span>

  <span class="form-input">
      <input placeholder="Ombros" ombros="Ombros" class="form-control-sm" type="text">
  </span>

  <span class="form-input">
      <input placeholder="Pescoço" pescoco="Pescoço" class="form-control-sm" type="text">
  </span>    
    
  <span class="form-input">
      <input placeholder="Braço" braco="Braço ola" class="form-control-sm" type="text">
  </span>  

  <span class="form-input">
      <input placeholder="Antebraço" antebraco:="Antebraço" class="form-control-sm" type="text">
  </span>  

  <span class="form-input">
      <input placeholder="Quadril" quadril="Quadril" class="form-control-sm" type="text">
  </span>

  <span class="form-input">
      <input placeholder="Cintura" cintura:="Cintura" class="form-control-sm" type="text">
  </span>    
    
  <span class="form-input">
      <input placeholder="Coxa" coxa:="Coxa" class="form-control-sm" type="text">
  </span>  

  <span class="form-input">
      <input placeholder="Panturrilha" panturrilha="Panturrilha:" class="form-control-sm" type="text">
  </span>  


  <input type='submit' class="form-control-sm submit-button"></input> 
</div>
</form>
{% endblock %}
