{% extends 'usuarios/base.html' %} 
{% block conteudo %}
{% csrf_token %}
<form action="{% url 'home' %}" method ="post">

<h1>Cadastro de medidas</h1>

<div class="submissions">
  <span class="form-input">
      <input placeholder="Peito" name="peito" class="form-control-sm" type="text">
  </span>

  <span class="form-input">
      <input placeholder="Costas" name="costas" class="form-control-sm" type="text">
  </span>

  <span class="form-input">
      <input placeholder="Ombros" name="ombros" class="form-control-sm" type="text">
  </span>

  <span class="form-input">
      <input placeholder="Pescoço" name="pescoço" class="form-control-sm" type="text">
  </span>    
    
  <span class="form-input">
      <input placeholder="Braço" name="braço" class="form-control-sm" type="text">
  </span>  

  <span class="form-input">
      <input placeholder="Antebraço" name="antebraço" class="form-control-sm" type="text">
  </span>  

  <span class="form-input">
      <input placeholder="Quadril" name="quadril" class="form-control-sm" type="text">
  </span>

  <span class="form-input">
      <input placeholder="Cintura" name="cintura" class="form-control-sm" type="text">
  </span>    
    
  <span class="form-input">
      <input placeholder="Coxa" name="coxa" class="form-control-sm" type="text">
  </span>  

  <span class="form-input">
      <input placeholder="Panturrilha" name="panturrilha:" class="form-control-sm" type="text">
  </span>  


  <input type='submit' class="form-control-sm submit-button"></input> 
</div>
</form>
{% endblock %}
