{% extends 'usuarios/base.html' %} 
{% block conteudo %}

<div class="exercise">
    <h1>Cross Over</h1>
        <img
        src="http://www.ferrosports.com.br/img_external/peito/image8.gif"
        class="container."
        alt="Cross over"
        height="50%" width="50%"
    />
</div>

<div class="description">
    <h3>
        Movimento:
    <h3>
    <h4>
        Dê um passo à frente com um pé para manter a estabilidade e incline-se ligeiramente para a frente, mantendo as costas retas.; 
    </h4>
    <h4>
        A partir dessa posição, mova os braços para a frente e para o centro do corpo, cruzando as mãos e as alças das polias na altura do peito;
    </h4>
    <h4>
        Mantenha os cotovelos ligeiramente flexionados e os ombros para trás e para baixo durante todo o movimento.;
    </h4>
    <h4>
        Certifique-se de manter o controle da resistência ao longo do movimento completo.
    </h4>

    <h3>
        Músculos trabalhados:
    <h3>
    <h4>
        peito
    </h4>
</div>

{% endblock %}