{% extends 'usuarios/base.html' %} {% block conteudo %}
{% csrf_token %}
<div style="padding-top: 50px;">
    <img src="imagem.jpg" />
</div>

  <center>
    <table>
      <tr>
        <td>
          <img
            src="http://www.ferrosports.com.br/img_external/peito/image18.gif"
            class="container."
            alt="Rosca Punho"
            height="50%" width="50%"
          />
          <h2>Supino</h2>
        </td>
        <td>
          <img
            src="http://www.ferrosports.com.br/img_external/peito/image9.gif"
            class="container."
            alt="Imagem 2"
            height="50%" width="50%"
          />
          <h2>Crucifixo</h2>
        </td>
      </tr>
      <tr>
        <td>
          <img
            src="http://www.ferrosports.com.br/img_external/peito/image8.gif"
            class="container."
            alt="Imagem 3"
            height="50%" width="50%"
          />
          <h2>Cross Over</h2>
        </td>
        <td>
          <img
            src="http://www.ferrosports.com.br/img_external/peito/image1.gif"
            class="container."
            alt="Imagem 4"
            height="30%" width="30%"
          />
          <h2>Peck Deck</h2>
        </td>
      </tr>
    </table>
  </center>
{% endblock %}