{% extends 'usuarios/base.html' %} 
{% block conteudo %}

<div class="exercise">
    <h1>peck deck</h1>
        <img
        src="http://www.ferrosports.com.br/img_external/peito/image1.gif"
        class="container."
        alt="peck deck"
        height="50%" width="50%"
    />
</div>

<div class="description">
    <h3>
        Movimento:
    <h3>
    <h4>
        Para realizar o exercício, o indivíduo senta em uma máquina específica, com as costas apoiadas no encosto e os braços posicionados nas alças laterais.; 
    </h4>
    <h4>
        Em seguida, o indivíduo pressiona as alças para a frente, encontrando-se com as mãos na altura do peito, como se estivesse abraçando alguém.;
    </h4>
    <h4>
        Durante o exercício, é importante manter os cotovelos ligeiramente flexionados e os ombros para trás e para baixo para evitar lesões na articulação do ombro.;
    </h4>
    <h4>
        Certifique-se de manter o controle da resistência ao longo do movimento completo.
    </h4>

    <h3>
        Músculos trabalhados:
    <h3>
    <h4>
        peito, ombro 
    </h4>
</div>

{% endblock %}