{% extends 'usuarios/base.html' %} 
{% block conteudo %}

<div class="exercise">
    <h1>Crucifixo</h1>
        <img
        src="https://www.ferrosports.com.br/img_external/peito/imagex1.gif"
        class="container."
        alt="supino"
        height="50%" width="50%"
    />
</div>

<div class="description">
    <h3>
        Movimento:
    <h3>
    <h4>
        deite-se em um banco de musculação com os pés apoiados no chão e as costas planas no banco; 
    </h4>
    <h4>
        Mantenha o peito aberto e o abdômen estabilizado, deixando os ombros levemente afundados;
    </h4>
    <h4>
        Segure os pesos com os braços estendidos acima do peito, com as palmas das mãos voltadas para dentro;
    </h4>
    <h4>
        Retorne a barra lentamente à sua posição inicial e repita.
    </h4>

    <h3>
        Músculos trabalhados:
    <h3>
    <h4>
        Supino fortalece peito, ombros e tríceps
    </h4>
</div>

{% endblock %}