{% extends 'usuarios/base.html' %}
{% block conteudo %}
<div class="container">
    <h2>Perfil</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="profile-photo">
          <img src="https://images3.alphacoders.com/654/654249.png" alt="Foto de Perfil" class="rounded-circle img-thumbnail" style="max-height: 200px;">
          <form method="post" enctype="multipart/form-data">
            
            <button type="submit" class="btn btn-primary">Trocar Foto</button>
          </form>
        </div>
      </div>
      <div class="col-md-8">
        <div class="profile-details">
          <h2>Saitama Kamado</h2>
          <p>Idade: 27 anos</p>
          <p>Peso: 72 kg</p>
          <p>Altura: 1,74 m</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}