{% extends 'usuarios/base.html' %} {% block conteudo %}
{% csrf_token %}
<div style="padding-top: 50px;">
    <img src="imagem.jpg" />
</div>

  <center>
    <table>
      <tr>
        <td>
          <img
            src="http://www.ferrosports.com.br/img_external/pernas/image20.gif"
            class="container."
            alt="Rosca Punho"
            height="50%" width="50%"
          />
          <h2>Agachamento</h2>
        </td>
        <td>
          <img
            src="http://www.ferrosports.com.br/img_external/pernas/image5.gif"
            class="container."
            alt="Imagem 2"
            height="50%" width="50%"
          />
          <h2>Leg Curl</h2>
        </td>
      </tr>
      <tr>
        <td>
          <img
            src="http://www.ferrosports.com.br/img_external/pernas/image2.gif"
            class="container."
            alt="Imagem 3"
            height="50%" width="50%"
          />
          <h2>Agachamento Smith</h2>
        </td>
        <td>
          <img
            src="http://www.ferrosports.com.br/img_external/pernas/image1.gif"
            class="container."
            alt="Imagem 4"
            height="50%" width="50%"
          />
          <h2>Hack Squat</h2>
        </td>
      </tr>
    </table>
  </center>
{% endblock %}