{% extends 'usuarios/base.html' %} 
{% block conteudo %}

<div class="exercise">
    <h1>Agachamento</h1>
        <img
        src="http://www.ferrosports.com.br/img_external/pernas/image20.gif"
        class="container."
        alt="agachamento Smith"
        height="50%" width="50%"
    />
</div>

<div class="description">
    <h3>
        Movimento:
    <h3>
    <h4>
        Para realizar o exercício, o praticante deve ficar de pé com os pés afastados na largura dos ombros, mantendo as costas retas e olhando para frente.; 
    </h4>
    <h4>
        Em seguida, o praticante deve flexionar os joelhos e descer o quadril até que as coxas estejam paralelas ao chão ou um pouco abaixo disso, mantendo os joelhos apontados na mesma direção dos pés.;
    </h4>
    <h4>
        O movimento deve ser controlado e lento, para que o músculo trabalhe o tempo todo e seja evitada a compensação com outros músculos. 
    </h4>
    <h4>
        Certifique-se de manter o controle da resistência ao longo do movimento completo.
    </h4>

    <h3>
        Músculos trabalhados:
    <h3>
    <h4>
       Posterior
    </h4>
</div>

{% endblock %}