{% extends 'usuarios/base.html' %} 
{% block conteudo %}

<div class="exercise">
    <h1>Leg curl</h1>
        <img
        src="http://www.ferrosports.com.br/img_external/pernas/image5.gif"
        class="container."
        alt="Leg curl"
        height="50%" width="50%"
    />
</div>

<div class="description">
    <h3>
        Movimento:
    <h3>
    <h4>
        Para realizar o exercício, o praticante deve ficar de pé com os pés afastados na largura dos ombros, mantendo as costas retas e olhando para frente.; 
    </h4>
    <h4>
        Em seguida, o praticante deve flexionar os joelhos e descer o quadril até que as coxas estejam paralelas ao chão ou um pouco abaixo disso, mantendo os joelhos apontados na mesma direção dos pés.;
    </h4>
    <h4>
        O movimento deve ser controlado e lento, para que o músculo trabalhe o tempo todo e seja evitada a compensação com outros músculos. 
    </h4>
    <h4>
        Certifique-se de manter o controle da resistência ao longo do movimento completo.
    </h4>

    <h3>
        Músculos trabalhados:
    <h3>
    <h4>
       Posterior
    </h4>
</div>

<div class="rating">

    <input class="rating__input" type="radio" name="rating" id="star1" value="1">
    <label class="rating__label" for="star1"></label>

    <input class="rating__input" type="radio" name="rating" id="star2" value="2">
    <label class="rating__label" for="star2"></label>

    <input class="rating__input" type="radio" name="rating" id="star3" value="3">
    <label class="rating__label" for="star3"></label>

    <input class="rating__input" type="radio" name="rating" id="star4" value="4">
    <label class="rating__label" for="star4"></label>

    <input class="rating__input" type="radio" name="rating" id="star5" value="5">
    <label class="rating__label" for="star5"></label>
  </div>

  <p>{{ media_avaliacoes.estrelas__avg }}</p>
  {% for avaliacao in avaliacoes %}
      <p>{{ avaliacao.estrelas }}</p>
  {% endfor %}

  <div class="description" >
    <h3>
        Deixe um comentário:
    <h3>
</div> 

<form method="POST">
    {% csrf_token %}
    <div class="submissions">
        <span class="form-input">
            <input placeholder="Nome de usuário" type="text" name="autor">
        </span>
        <span class="form-input">
            <textarea placeholder="Comentário" name="texto"></textarea>
        </span>
        <input type='submit' class="form-control-sm submit-button" value="Comentar"></input>
    </div>
</form>

<div class="description" >
    <h3>
        Comentários:
    <h3>


<ul>

{% for comentario in comentarios %}

    <li>
        <p>{{ comentario.autor }} em {{ comentario.data }}</p>
        <p>{{ comentario.texto }}</p>
    </li>

{% empty %}

    <h4>Nenhum comentário ainda.</h4>
{% endfor %}
</ul>
</div>

{% endblock %}