{% extends 'usuarios/base.html' %} {% block conteudo %}
{% csrf_token %}

<h1>Exercícios para os quadriceps</h1>

  <center>
    <table>
      <tr>
        <td>
          <img
            src="http://www.ferrosports.com.br/img_external/pernas/image29.gif"
            class="container."
            alt="Rosca Punho"
            height="50%" width="50%"
          />
          <h2>Cadeira Extensora</h2>
        </td>
        <td>
          <img
            src="http://www.ferrosports.com.br/img_external/pernas/image28.gif"
            class="container."
            alt="Imagem 2"
            height="50%" width="50%"
          />
          <h2>Cadeira Flexora</h2>
        </td>
      </tr>
      <tr>
        <td>
          <img
            src="http://www.ferrosports.com.br/img_external/pernas/image23.gif"
            class="container."
            alt="Imagem 3"
            height="50%" width="50%"
          />
          <h2>Afundo</h2>
        </td>
        <td>
          <img
            src="http://www.ferrosports.com.br/img_external/pernas/image1.gif"
            class="container."
            alt="Imagem 4"
            height="50%" width="50%"
          />
          <h2>Hack Squat</h2>
        </td>
      </tr>
    </table>
  </center>
{% endblock %}