{% extends 'usuarios/base.html' %} 
{% block conteudo %}
{% csrf_token %}
 
<h1>Consumo de Água</h1>

<div class="submissions">
  <span class="form-input">
    <h5>
      Data
    </h5>
    <input type="date" name="Data" class="form-control-sm" />
  </span>

  <span class="form-input">
    <h5>
      Hora
    </h5>
    <input type="time" name="Hora" class="form-control-sm" />
  </span>

  <span class="form-input">
    <h5>
      Quantidade
    </h5>
    <select name="Quantidade" size="1">
      <option>---</option>
      <option>50ml</option>
      <option>100ml</option>
      <option>200ml</option>
      <option>250ml</option>
      <option>300ml</option>
      <option>350ml</option>
      <option>500ml</option>
      <option>750ml</option>
      <option>1000ml</option>
    </select>
  </span>

    <input style="" type="submit" value="Enviar" class="form-control-sm submit-button"  />
</div>

{% endblock %}
