{% extends 'usuarios/base.html' %} 
{% block conteudo %}

<div class="exercise">
    <h1>Rosca com barra</h1>
        <img
        src="http://www.ferrosports.com.br/img_external/biceps/image11.gif"
        class="container."
        alt="Rosca Direta"
        height="50%" width="50%"
    />
</div>

<div class="description">
    <h3>
        Movimento:
    <h3>
    <h4>
        Segure a barra com o corpo reto e os pés alinhados com os quadris, e uma flexão leve dos joelhos; 
    </h4>
    <h4>
        Mantenha o peito aberto e o abdômen estabilizado, deixando os ombros levemente para trás;
    </h4>
    <h4>
        Segure a barra com uma pegada com as palmas das mãos voltadas para cima e os braços colados ao lado do corpo;
    </h4>
    <h4>
        Dobre o cotovelo para levar a barra até o peito, flexionando o bíceps o máximo que puder, certificando-se de manter os cotovelos na linha dos ombros;
    </h4>
    <h4>
        Retorne a barra lentamente à sua posição inicial e repita.
    </h4>

    <h3>
        Músculos trabalhados:
    <h3>
    <h4>
        Bíceps
    </h4>
</div>

<!-- arquivo HTML -->
<div class="rating">

    <input class="rating__input" type="radio" name="rating" id="star1" value="1">
    <label class="rating__label" for="star1"></label>

    <input class="rating__input" type="radio" name="rating" id="star2" value="2">
    <label class="rating__label" for="star2"></label>

    <input class="rating__input" type="radio" name="rating" id="star3" value="3">
    <label class="rating__label" for="star3"></label>

    <input class="rating__input" type="radio" name="rating" id="star4" value="4">
    <label class="rating__label" for="star4"></label>

    <input class="rating__input" type="radio" name="rating" id="star5" value="5">
    <label class="rating__label" for="star5"></label>
  </div>

<script>
    const ratingInputs = document.querySelectorAll('.rating__input');
    ratingInputs.forEach(input => {
    input.addEventListener('change', event => {
        const ratingValue = event.target.value;
    });
});
</script>

<form method="post">
    {% csrf_token %}
    <div class="form-comments">
        <label for="name">Nome:</label>
        <input type="text" name="name" class="form-control" required>
    </div>

    <div class="form-comments">
        <label for="email">Email:</label>
        <input type="email" name="email" class="form-control" required>
    </div>

    <div class="form-comments">
        <label for="message">Mensagem:</label>
        <textarea name="message" class="form-control" required></textarea>
    </div>

    <button type="submit" class="btn">Enviar</button>
</form>

{% for comment in post.comments.all %}
    <div class="comment">
        <p><strong>{{ comment.author }}</strong> em {{ comment.created_at }}</p>
        <p>{{ comment.content }}</p>
    </div>
{% empty %}
    <p>Nenhum comentário ainda.</p>
{% endfor %}


{% endblock %}