{% extends 'usuarios/base.html' %} 
{% block conteudo %}

<div class="exercise">
    <h1>Rosca com barra</h1>
        <img
        src="http://www.ferrosports.com.br/img_external/biceps/image11.gif"
        class="container."
        alt="Rosca Direta"
        height="50%" width="50%"
    />
</div>

<div class="description">
    <h2>
        Movimento:
    <h2>
    <h3>
        Segure a barra com o corpo reto e os pés alinhados com os quadris, e uma flexão leve dos joelhos; 
    </h3>
    <h3>
        Mantenha o peito aberto e o abdômen estabilizado, deixando os ombros levemente para trás;
    </h3>
    <h3>
        Segure a barra com uma pegada com as palmas das mãos voltadas para cima e os braços colados ao lado do corpo;
    </h3>
    <h3>
        Dobre o cotovelo para levar a barra até o peito, flexionando o bíceps o máximo que puder, certificando-se de manter os cotovelos na linha dos ombros;
    </h3>
    <h3>
        Retorne a barra lentamente à sua posição inicial e repita.
    </h3>

    <h2>
        Músculos trabalhados:
    <h2>
    <h3>
        Bíceps
    </h3>
</div>

{% endblock %}