{% extends 'usuarios/base.html' %} 
{% block conteudo %}

<div class="exercise">
    <h1>Cross Unilateral</h1>
        <img
        src="http://www.ferrosports.com.br/img_external/triceps/image20.gif"
        class="container."
        alt="Cross Unilateral"
        height="50%" width="50%"
    />
</div>

<div class="description">
    <h3>
        Movimento:
    <h3>
    <h4>
        Comece em pé com os pés afastados na largura dos ombros e segurando um halter ou kettlebell em uma das mãos; 
    </h4>
    <h4>
        Mantenha o halter ou kettlebell na lateral do corpo, com o braço estendido;
    </h4>
    <h4>
        Leve o halter ou kettlebell em direção ao lado oposto do corpo, fazendo um movimento de cruzamento;
    </h4>
    <h4>
        Contraia os músculos do abdômen e quadríceps enquanto faz o movimento;
    </h4>

    <h3>
        Músculos trabalhados:
    <h3>
    <h4>
        Tríceps
    </h4>
</div>

{% endblock %}