{% extends 'usuarios/base.html' %} 
{% block conteudo %}

<div class="exercise">
    <h1>Triceps Francês</h1>
        <img
        src="http://www.ferrosports.com.br/img_external/triceps/image2.gif"
        class="container."
        alt="Triceps Francês"
        height="50%" width="50%"
    />
</div>

<div class="description">
    <h3>
        Movimento:
    <h3>
    <h4>
        Comece sentado em um banco com uma barra reta ou halteres nas mãos; 
    </h4>
    <h4>
        Segure a barra ou halteres com as mãos, mantendo as palmas das mãos voltadas para cima;
    </h4>
    <h4>
        Levante a barra ou halteres acima da cabeça, com os braços estendidos e as mãos afastadas na largura dos ombros;
    </h4>
    <h4>
        Mantenha os cotovelos próximos à cabeça e dobre os braços, abaixando a barra ou halteres lentamente em direção à parte de trás da sua cabeça;
    </h4>
    <h4>
        Mantenha a posição por um segundo, depois expire e estenda os braços, elevando a barra ou halteres de volta à posição inicial;
    </h4>
    <h3>
        Músculos trabalhados:
    <h3>
    <h4>
        Tríceps
    </h4>
</div>

{% endblock %}