{% extends 'usuarios/base.html' %} 
{% block conteudo %}

<div class="exercise">
    <h1>Triceps Banco</h1>
        <img
        src="http://www.ferrosports.com.br/img_external/triceps/image16.gif"
        class="container."
        alt="Triceps Banco"
        height="50%" width="50%"
    />
</div>

<div class="description">
    <h3>
        Movimento:
    <h3>
    <h4>
        Comece sentando-se em um banco com as costas apoiadas e segurando uma barra reta ou haltere com as mãos, mantendo as palmas voltadas para cima; 
    </h4>
    <h4>
        Levante a barra ou haltere acima da cabeça, com os braços estendidos, e mantenha os cotovelos próximos à cabeça;
    </h4>
    <h4>
        Lentamente, abaixe a barra ou haltere na direção da parte de trás da sua cabeça, flexionando os cotovelos;
    </h4>
    <h4>
        Expire e empurre a barra ou haltere de volta à posição inicial, estendendo completamente os braços;
    </h4>

    <h3>
        Músculos trabalhados:
    <h3>
    <h4>
        Tríceps
    </h4>
</div>

{% endblock %}