{% extends 'usuarios/base.html' %} 
{% block conteudo %}

<div class="exercise">
    <h1>Triceps Cross Corda</h1>
        <img
        src="http://www.ferrosports.com.br/img_external/triceps/image8.gif"
        class="container."
        alt="Cross Corda"
        height="50%" width="50%"
    />
</div>

<div class="description">
    <h3>
        Movimento:
    <h3>
    <h4>
        Segure uma das extremidades da corda em cada mão, com as mãos posicionadas ao lado do corpo; 
    </h4>
    <h4>
        Mantenha os pés afastados na largura dos ombros e flexione ligeiramente os joelhos;
    </h4>
    <h4>
        Levante a corda acima da cabeça e faça um movimento de "U" invertido para baixo, batendo a corda no chão;
    </h4>
    <h4>
        Contraia os músculos do abdômen, quadríceps e glúteos enquanto bate a corda no chão;
    </h4>

    <h3>
        Músculos trabalhados:
    <h3>
    <h4>
        Tríceps
    </h4>
</div>

{% endblock %}